body {
    font-family: Arial, sans-serif;
}

.upload-area {
    border: 2px dashed #ccc;
    width: 100%;
    max-width: 480px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.upload-area:hover {
    background-color: #f5f5f5;
}

.file-list {
    margin: 20px auto;
    max-width: 480px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    cursor: pointer;
    margin: 5px 0;
}

li.selected {
    font-weight: bold;
}

body {
    font-family: 'Roboto', Arial, sans-serif;
    margin: 0;
    background-color: #f0f0f0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
}

.upload-area {
    border: 2px dashed #ccc;
    background-color: #fff;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
    transition: background-color 0.2s ease;
}

.upload-area:hover {
    background-color: #f5f5f5;
}

.file-name {
    font-size: 1.1rem;
    font-weight: bold;
    margin-top: 10px;
}

button {
    background-color: #4CAF50;
    border: none;
    color: white;
    text-align: center;
    display: inline-block;
    font-size: 1rem;
    margin: 10px 2px;
    padding: 10px 24px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.2s ease;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

/* 마우스 오버 했을 때 색이 변하도록 하는 부분

  button:hover:not(:disabled) {
    background-color: #45a049;
} */

.file-list {
    margin: 20px auto;
    max-width: 480px;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    cursor: pointer;
    margin: 5px 0;
    font-size: 1.1rem;
}

li.selected {
    font-weight: bold;
}

.progress {
    display: none;
    width: 100%;
    height: 20px;
    background-color: #f3f3f3;
    position: relative;
    border-radius: 5px;
}

.progress-bar {
    height: 20px;
    background-color: #4CAF50;
    width: 0;
    position: absolute;
    border-radius: 5px;
    transition: width 0.2s ease;
}


.upload-area {
  border: 2px dashed #ccc;
  background-color: #fff;
  padding: 20px;
  text-align: center;
  border-radius: 5px;
  transition: background-color 0.2s ease;
}

.upload-area:hover {
  background-color: #f5f5f5;
}

.select-all-button {
    background-color: #007BFF;
    color: white;
}

.select-all-button:hover:not(:disabled) {
    background-color: #0069D9;
}

.delete-button {
    background-color: #FF0000;
    color: white;
}

.delete-button:hover:not(:disabled) {
    background-color: #E00000;
}

.move-to-memo-btn {
            background-color: #0431B4; /* 원하는 배경색으로 변경 */
            color: white;
            padding: 8px 12px;
            font-size: 16px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
